.expense-tracker-container {
  max-width: 30%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #d3d3d3;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.category-container {
  position: absolute;
  bottom: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.categories {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
  width: 80%;
  padding: 10px 0px;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  position: relative;
  cursor: pointer;
  padding: 3px 10px;
  background-color: #008080;
  color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 12px;
  white-space: nowrap;
}

.category.selected {
  background-color: #90e4c1;
}

.delete-category {
  position: absolute;
  top: 8%;
  right: -4px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #247251;
  cursor: pointer;
  font-size: 20px;
  padding: 0px;
}

.add-custom-category {
  cursor: pointer;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 15px;
  right: 30px;
}

.add-custom-category:hover {
  background-color: #90e4c1;
}

.input-container {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
}

.amount-input {
  height: 17px;
  padding: 10px;
  border: 1px solid #ccc;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
}

.add-expense-button {
  /* padding: 10px 10px; */
  height: 36px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.add-expense-button:hover {
  background-color: #90e4c1;
}

.expenses-list {
  min-height: 350px;
  overflow-y: auto;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #ccc; */
  /* border: 1px solid red; */
  padding: 10px 0;
  width: 100%;
}

.list-category {
  color: #aaa6a6;
  font-size: 14px;
}

.delete-expense {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.delete-expense:hover {
  background-color: #90e4c1;
}

.show-category-expenses {
  display: block;
  margin: 20px auto 0;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.scroll-to-bottom {
  position: absolute;
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.scroll-to-bottom:hover {
  background-color: #90e4c1;
}



/* For screens up to 768px (typically mobile devices) */
@media screen and (max-width: 768px) {
  .expense-tracker-container {
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #d3d3d3;
  }

  .category-container {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .categories {
    display: flex;
    overflow-x: auto;
    margin-bottom: 10px;
    padding: 10px 0px;
  }

  .category {
    padding: 3px 10px;
    margin-right: 10px;
    font-size: 12px;
  }

  .delete-category {
    top: 0;
    right: 0;
    transform: none;
    font-size: 18px;
  }

  .add-custom-category {
    height: 30px;
    width: 30px;
    bottom: 15px;
    right: 15px;
  }

  .input-container {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .amount-input {
    height: auto;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
  }

  .add-expense-button {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  .expenses-list {
    min-height: 250px;
  }

  .expense-item {
    padding: 10px 0;
    width: 100%;
  }

  .list-category {
    font-size: 14px;
  }

  .scroll-to-bottom {
    bottom: 10px;
  }
}
